AZURE_PAT=
RESOURCE_GROUP="rg-guestsense"
LOCATION="centralindia"
STORAGE_ACCOUNT="storageguestsense"
CONTAINERS="brnz,slvr,gold"
REGISTRY_NAME="containerguestsense"
CLUSTER_NAME="clusterguestsense"
NODE_COUNT="2"
NODE_SIZE="Standard_DS2_v2"
K8S_VERSION="1.32.7"
DATABRICKS_WS="dbw-guestsense"
DATABRICKS_CLUSTER_NAME="guestsense-cluster"
NODE_TYPE="Standard_DS3_v2"
SPARK_VERSION="13.3.x-scala2.12"
NUM_WORKERS=2